<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.TestdHashMapper">
    
    <resultMap type="TestdHash" id="TestdHashResult">
        <result property="pushTime"    column="push_time"    />
        <result property="pusher"    column="pusher"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectTestdHashVo">
        select push_time, pusher, id from testd_hash
    </sql>

    <select id="selectTestdHashList" parameterType="TestdHash" resultMap="TestdHashResult">
        <include refid="selectTestdHashVo"/>
        <where>  
            <if test="pushTime != null "> and push_time = #{pushTime}</if>
            <if test="pusher != null  and pusher != ''"> and pusher = #{pusher}</if>
        </where>
    </select>
    
    <select id="selectTestdHashById" parameterType="String" resultMap="TestdHashResult">
        <include refid="selectTestdHashVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestdHash" parameterType="TestdHash">
        insert into testd_hash
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pushTime != null">push_time,</if>
            <if test="pusher != null">pusher,</if>
            <if test="id != null">id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pushTime != null">#{pushTime},</if>
            <if test="pusher != null">#{pusher},</if>
            <if test="id != null">#{id},</if>
         </trim>
    </insert>

    <update id="updateTestdHash" parameterType="TestdHash">
        update testd_hash
        <trim prefix="SET" suffixOverrides=",">
            <if test="pushTime != null">push_time = #{pushTime},</if>
            <if test="pusher != null">pusher = #{pusher},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestdHashById" parameterType="String">
        delete from testd_hash where id = #{id}
    </delete>

    <delete id="deleteTestdHashByIds" parameterType="String">
        delete from testd_hash where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="callCreateTableFunction" resultType="java.lang.Void">
        SELECT create_table_with_suffix(#{tableName}, #{suffix})
    </select>
</mapper>